venv/

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/
.vscode/settings.json
free_shark/db_config.cfg
/tests/db_config.cfg
.cache/v/cache/lastfailed
tests/.cache/v/cache/lastfailed
tests/test_commoditymodel.py
*.jpg
