{% extends "layout.html" %}
{% block content %}
<body>
<div class="row" style="margin-top:2%">
    <div class="col">

    </div>
    <div class="col-10">
        <div class="row">
            {% if current_user.is_authenticated %}
            <div class="input-group flex-nowrap col-4">
                <input type="text" class="form-control" placeholder="订单号" aria-label="订单号" name="choose_order_id"
                    id="order_id" {% if request.args.get('order_id') %} value={{ request.args.get('order_id') }}
                    {% endif %} aria-describedby="addon-wrapping">
            </div>
            <div class="input-group flex-nowrap col-4">
                <input type="text" class="form-control" placeholder="商品名称" aria-label="商品名称" name="choose_commodity_name"
                    id="commodity_name" {% if request.args.get('commodity_name') %} value={{ request.args.get('commodity_name') }}
                    {% endif %} aria-describedby="addon-wrapping">
            </div>
            <div class="col-2">
                <button class="btn btn-primary" onclick="search()">搜索</button>
            </div>
            <div class="col-2">
                <button class="btn btn-primary" onclick="search()">查看未读订单</button>
            </div>
            {% endif %}
        </div>     
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>订单号</th>
            <th>商品号</th>
            <th>商品名称</th>
            <th>预约人学号</th>
            <th>订单状态</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>Otto</td>
            <td>@mdo</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
            <td>Thornton</td>
            <td>@fat</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Larry the Bird</td>
            <td>123</td>
            <td>@twitter</td>
            <td>123</td>
            <td>"current_user.id"</td>
        </tr>
        </tbody id="order_list">
    </table>

    <div class="col">
    
    </div>
</div>
    <!-- 提示框 -->
</body>
{% endblock %}
{% block script_at_end %}
<script>
var current_user_id = {{current_user.id}}
function search(){
        window.location = "/auth/indexorder?order_id=" + $("#order_id").val()
                            +"&commodity_name=" + $("#commodity_name").val()
                            +"&current_user_id=" + current_user_id;
                            
    }
</script>
{% endblock %}